.bottom-left
{
  position: absolute;
  vertical-align: middle;
  left: 20%;
}

#home {
  clip-path: url(#cache);
  
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  

}
.profile-img{
  
  background: transparent;
}
.profile-img img{
  width: 100%;
  height: 100%;
}
.profile-img  {
  object-fit: cover;
  border: none;
}
.file
{ position: relative;
  top: -30%;
  font-size: 18px;
  z-index: 2;
  width: 100%;

}

.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #076cd8;
}


.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;

  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 13px;

  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #1f1f1f;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.rounded_m {
  border-radius: 10px!important;
}
.rounded_m_top {
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
}


.owl-nav .owl-prev , .owl-prev:hover, .owl-prev:hover 
{  
  position: absolute;;
  left: 0%;
  top: 40%;
  filter: opacity(0.7);
  outline: none;
  height:0px;
  width:0px; 
  z-index:999;
}
@media only screen and (max-width: 880px) {
  .owl-nav .owl-prev , .owl-prev:hover, .owl-prev:hover {
    display: none;
  }
}

.owl-nav .owl-next , .owl-next:hover, .owl-next:hover
{
  position:absolute;
  left:95%;
  top: 40%;
  filter: opacity(0.7);
  outline: none;
  height:0px;
  width:0px; 
  z-index:999;
  text-decoration: none;
  
}
@media only screen and (max-width: 880px) {
  .owl-nav .owl-next , .owl-next:hover, .owl-next:hover {
    display: none;
  }
}
#owl-demo figcaption
{       filter: brightness(2);
        font-size: 106%;
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 3%;
        right: 30%;
        word-wrap: break-word;
        color: rgb(252, 252, 252);
        top: 10%; /* Adjust this value to move the positioned div up and down */
       
        
      }
      @media only screen and (max-width: 906px){      #owl-demo figcaption
{       filter: brightness(2);
        font-size: 106%;
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0%;
        right: 30%;
        word-wrap: break-word;
        color: rgb(252, 252, 252);
        top: 10%; /* Adjust this value to move the positioned div up and down */
       
        
      }}

@media only screen and (max-width: 600px) {
   #owl-demo figcaption{
          display: none;
        }
      }
#owl-demo
{
  width: 60%;
  min-width: 200px;

}

#owl-demo img{

    width: 100%;
    height: auto;
    max-height: 80vh;
    filter: brightness(0.9);
    object-fit: cover;
    
}

::-webkit-scrollbar {
  width: 0.8em;
  height: 0.4em;
}
::-webkit-scrollbar-button {
  background: rgba(255, 255, 255, 0.589);
  
}
::-webkit-scrollbar-track-piece {
  background: rgba(219, 219, 219, 0.795);
 
}
::-webkit-scrollbar-thumb {
  background: rgba(116, 116, 116, 0.651);
  border-radius: 20px;
}​

.logout-button, .logout-button a, .logout-button a:hover, .logout-button a:active
{
  font-size: 20px;
  text-decoration: none;
  color: #4e8af8;
}

.active1
{ 
  background: rgba(0, 0, 0, 0.055);
  border-radius: 25px;

}
.faculty_card a
{ color: black;
  TEXT-DECORATION: none; 
  font-weight: none;
}
.faculty_card
{
  padding:10px;
  transition: 0.2s;
  background-size: 200% auto;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  transform: scale(0.95,0.90);
  transition: all .2s; 
}

.faculty_card:hover
{  transition: transform 0.2s;
  transform: scale(1,1);
  padding:10px;
  filter: brightness(1);
  background-position: right center;
  transform: scale(1.1);
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

 
}

.card-img-top:hover{-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);}

 .card-img-top:hover
{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 1s;
}






.faculty_card .card-title
{
  letter-spacing: 1px;
}


.project_cards
{
  transition: all 0.3s;
  color: #292c2f;
  cursor:pointer;
  width: 19rem;

}
@media only screen and (max-width: 600px){
  .project_cards
{
  transition: all 0.3s;
  
  cursor:pointer;
  width: 10rem;
 

}
.project_cards .blockquote
{
  display: none;
}
}

.project_cards:hover
{ transition : all 0.2s;
  background-position: right center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.navbar
{

  box-shadow: none;
  z-index: 999;

}
.nav-item
{  
    padding-right: 1vw;
    letter-spacing: 1px;
}
.navbar-brand-inline
{
  transition: 0.2s;
  letter-spacing: 3px;
  color: rgb(79, 79, 255);
  transition: 1s;
  font-size: 28px;
   
}
.navbar-brand-inline:hover
{   
 
  color: orange;
  transition: 0.5s;
  letter-spacing: 3px;
}
.card
{
  margin-left: 50px;
  margin-top: 10px;
  margin-top: 20px;
  box-shadow: none;
}

.form-control
{   
  height: 35px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
    
}


html,body { min-height: 100%;}

body {margin:0;

}



.outer {
    display:table;
    width:100%;
    height:100%;
    font-family: 'Montserrat';
   /* background: linear-gradient(to bottom right, #ffffff 0%, #ccccff 160%);*/ }



.footer-distributed{
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 35px 20px;
	margin-top: 100px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

/* The company logo */

.footer-distributed h3{
	color:  #f3f1f1;
  font-family:  'Lato';
	margin: 0;
}

.footer-distributed h3 span{
  color:  #f3f1f1;
  font-size: 100%;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 10px 12px;
  padding: 0;
  font-size: 25px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 20px;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #2c2c2c;
	color: #ffffff;
	font-size: 140%;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 100%;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
  margin:0;
  font-size: 120%;

}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:12px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
  text-decoration: none;
  font-size: 80%;

}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media only screen and (max-width: 920px) {

	.footer-distributed{
		font: light 20px 'Lato';
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		display: inline-block;
		width: 100%;
		margin-bottom: 80px;
		text-align: left;
  }
  .footer-distributed .footer-center{
    display: none;
  }
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}



}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}

.project_list_title
{
  color: rgba(43, 41, 41, 0.829);
}
.ongoing
{
  color: rgb(54, 123, 250);
}
.Completed
{
  color: greenyellow;
}
.blockquote
{
  float: left; padding: 10px; font-size:16px; 
}
.project_faculty_name
{
  font-size:14px; padding: 10px;
}

