.bottom-left {
    position: absolute;
    vertical-align: middle;
    left: 20%
}

.rounded_m {
    border-radius: 10px!important
}

.rounded_m_bottom {
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important
}

.rounded_m_top {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important
}

.rounded_mn {
    border-radius: 25px!important
}

.rounded_m_top {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important
}

.owl-nav .owl-prev,
.owl-prev:hover {
    position: absolute;
    left: 0;
    top: 40%;
    filter: opacity(.7);
    outline: 0;
    height: 0;
    width: 0;
    z-index: 999
}

@media only screen and (max-width:1300px) {
    .owl-nav .owl-prev,
    .owl-prev:hover {
        display: none
    }
}

.owl-nav .owl-next,
.owl-next:hover {
    position: absolute;
    left: 95%;
    top: 40%;
    filter: opacity(.7);
    outline: 0;
    height: 0;
    width: 0;
    z-index: 999;
    text-decoration: none
}

@media only screen and (max-width:1300px) {
    .owl-nav .owl-next,
    .owl-next:hover {
        display: none
    }
}

#owl-demo figcaption {
    font-size: 110%;
    position: absolute;
    z-index: 10;
    margin: 0 auto;
    left: 3%;
    right: 30%;
    word-wrap: break-word;
    color: #fcfcfc;
    top: 10%
}

@media only screen and (max-width:906px) {
    #owl-demo figcaption {
        font-size: 106%;
        position: absolute;
        z-index: 10;
        margin: 0 auto;
        left: 0;
        right: 30%;
        word-wrap: break-word;
        color: #fcfcfc;
        top: 10%
    }
}

@media only screen and (max-width:600px) {
    #owl-demo figcaption {
        display: none
    }
}

#owl-demo {
    width: 100%;
    min-width: 200px
}

#owl-demo img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    filter: brightness(.84);
    object-fit: cover
}

::-webkit-scrollbar {
    width: .8em;
    height: .4em
}

::-webkit-scrollbar-button {
    background: rgba(255, 255, 255, .589)
}

::-webkit-scrollbar-track-piece {
    background: rgba(219, 219, 219, .795)
}

::-webkit-scrollbar-thumb {
    background: rgba(116, 116, 116, .651);
    border-radius: 20px
}

.logout-button a,
.logout-button a:active,
.logout-button a:hover,
​ .logout-button {
    font-size: 20px;
    text-decoration: none;
    color: #4e8af8
}

.faculty_card a {
    color: #000;
    TEXT-DECORATION: none;
    font-weight: none
}

.faculty_card {
    padding: 10px;
    transition: .2s;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transform: scale(.9);
    transition: all .2s
}

.faculty_card:hover {
    transition: all .2s;
    filter: brightness(1);
    transform: scale(1);
    -webkit-font-smoothing: antialiased;
    cursor: pointer
}

.card-img-top:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.card-img-top:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: 1s
}

.faculty_card .card-title {
    letter-spacing: 1px
}

.proj_card {
    background-color: #fff
}

.proj_cards:hover {
    background-color: rgba(230, 230, 230, .61)
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.navbar {
    min-height: 80px;
    padding: 0
}

.navbar .navbar-collapse .navbar-nav {
    padding: 0
}

.navbar-toggle {
    margin-top: 23px;
    padding-right: 20px
}

.navbar-brand-inline {
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 450
}

.card {
    margin-left: 50px;
    margin-top: 10px;
    margin-top: 20px;
    box-shadow: none
}

.form-control {
    height: 35px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    font-size: 14px
}

body {
    min-height: 100%
}

body {
    margin: 0
}

.outer {
    display: table;
    width: 100%;
    height: 100%
}

.cool-link {
    display: inline-block;
    color: #1a1a1a;
    text-decoration: none
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3f3f3f;
    transition: width .3s
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s
}

.project_list_title {
    color: rgba(43, 41, 41, .829)
}

.ongoing {
    color: #367bfa
}

.Completed {
    color: #adff2f
}

.blockquote {
    float: left;
    padding: 10px;
    font-size: 16px
}

.project_faculty_name {
    font-size: 14px;
    padding: 10px
}

.prof_pic {
    width: 100%;
    height: 100%
}

.table td,
.table th {
    border-top: none!important
}

.second-table td,
.second-table th {
    min-width: 200px
}

#gallery-collapsible {
    cursor: pointer
}

.me:hover {
    border-bottom: 1px #818181 solid
}

.profile-container0 {
    background-color: rgba(238, 228, 222, .925);
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.38' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
}

.profile-container2 {
    background-color: rgba(222, 238, 228, .925);
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.38' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
}

.profile-container1 {
    background-color: rgba(191, 221, 245, .548);
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='239C92AC' fill-opacity='0.38' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
}

.faculty_container {
    transition: .2s
}

.faculty_container:hover {
    transform: scale(.99, .99);
    transition: all .2s
}

.vl {
    border-left: 6px solid green;
    height: 500px
}

@media (min-width:34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2
    }
}

@media (min-width:48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3
    }
}

@media (min-width:62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4
    }
}

@media (min-width:75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5
    }
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute
}

.bhover {
    border: 1px solid transparent;
    transition: .3s
}

.bhover:hover {
    border: 1px solid #d0d0d0;
    transition: .3s
}