<!-- Loads th path to your static files -->
{% extends 'memslab/Base.html'%}


{% block title%}
Lab
{%endblock%}
{% block body %}
<div class="container-fluid col-12 text-left mt-5 animated fadeIn">
  <h1 class="ml-3">Contact Us</h1>


  <div class="row  ">
    <div class="card mx-auto col-12 col-xl-10 bg-dark text-light mb-4">
      <div class="card-body ">
        <h5 class="card-title">Coordinator</h5>
        <p class="card-text ">
          <h3>{{coordinator.user.first_name}} {{coordinator.user.last_name}}</h3>
        </p>
        <a class="card-link text-primary" href="{%url 'memslab:show_profile' coordinator.user.username%}">Go to
          Profile</a>

      </div>
    </div>
    <div class="card mx-auto   col-12 col-xl-10 bg-dark text-light mb-4">
      <div class="card-body ">
        <h5 class="card-title">Address</h5>
        <p class="card-text ">
          <div class="mx-auto map-responsive " style="min-height:500px;"><iframe title="Map" class="p-0 m-0 border "
              width="100%" height="500px" frameborder="10" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9_cZqF6DyzsRX2AQoaWqXvY&key=AIzaSyDAv4iwiW6Ryzyc6Kx-kChfKsdawEsEy70"
              allowfullscreen></iframe>
          </div>
        </p>


      </div>
    </div>


    <div class="card mx-auto  col-12 col-xl-10  bg-dark text-light mb-4">
      <div class="card-body ">
        <h5 class="card-title">Email</h5>
        <p class="card-text ">
          <h2>{{coordinator.email}}</h2>
        </p>
        <a class="card-link text-primary" href="mailto:{{superuser_emails}}">
          <h5>{{coordinator.user.email}}</h5>
        </a>
      </div>
    </div>
    <div class="card mx-auto  col-12 col-xl-10  bg-dark text-light mb-4">
      <div class="card-body ">
        <h5 class="card-title">Contact No.</h5>
        <p class="card-text ">
          <h4>{{coordinator.phone}}</h4>
        </p>

      </div>
    </div>

    {%if coordinator.skype_link%}
    <div class="card mx-auto  col-12 col-xl-10 bg-dark text-light mb-4">
      <div class="card-body ">
        <h5 class="card-title">Skype</h5>
        <p class="card-text "></p>
        <a class="card-link text-primary" href="{{coordinator.skype_link}}">
          <h5>{{coordinator.skype_link}}</h5>
        </a>

      </div>
    </div>
    {%endif%}

    {%if coordinator.website_link%}
    <div class="card mx-auto col-12 col-xl-10 bg-dark text-light mb-4">
      <div class="card-body ">
        <h5 class="card-title">Web</h5>
        <p class="card-text "></p>
        <a class="card-link text-primary" href="{{coordinator.website_link}}">
          <h5>{{coordinator.website_link}}</h5>
        </a>

      </div>
    </div>
    {%endif%}

  </div>
</div>
{% endblock %}