

<!-- Loads th path to your static files -->
{% extends 'memslab/Base.html'%}


{% block title%}
Lab
{%endblock%}
{% block body %}


<div class="container">
        <h1 class="text-center">Contact Address</h1>
        <hr>
          <div class="row">
            <div id="map-container-google-2" class="z-depth-0-half map-container col-sm-8" >
                    <iframe src="https://maps.google.com/maps?q=Bits-Hyderabad&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                      style="border:0"  width="100%" height="320" allowfullscreen></iframe>
                  </div>
        
            <div class="col-sm-4" id="contact2">
                <h3>BITS Hyderabad</h3>
                <hr align="left" width="50%">
                <h4 class="pt-2">{{emp.name}}</h4>
                <h4 class="pt-2">Contact</h4>
                <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+"> {{emp.user.phone}} </a><br>
                <i class="fab fa-whatsapp" style="color:#000"></i><a href="tel:+"> 123456 </a><br>
                <h4 class="pt-2">Email</h4>
                <i class="fa fa-envelope" style="color:#000"></i> <a href="">test@test.com</a><br>
              </div>
          </div>
        </div>
      {% endblock %}