<!-- Loads th path to your static files -->
{% extends 'memslab/Base.html'%}

{%load staticfiles%}

{%load thumbnail%}
{% block title%}
Lab
{%endblock%}

 


{% block body %}
{% if user.is_authenticated %}
<div class="container mb-5 border p-4 rounded_m bg-white  shadow ">
 
    <a href="{% url 'memslab:area_of_research_edit' %}"><button class="btn  btn-md  btn-primary rounded_mn waves-effect ">Edit<i
          class="fas fa-edit"></i></button></a>
  
  
  
    {%if request.user.is_superuser%}
  
    <a href="{%url 'admin:index' %}"><button class="btn  btn-md text-dark btn-warning rounded_mn waves-effect ">admin <i
          class="fas fa-external-link-alt"></i></button></a>
    {%endif%}
    {%endif%}
  
  
  </div>
 <div class="container col-12  col-lg-10">
   <div class="jumbotron " style="  word-wrap: break-word;">
    <h1 class="indigo-text mb-5" >Areas Of Research</h1>
    
           {%for obj in Area_of_research%}
          
                           {{obj.entry|safe}}
                 
         {%endfor%}
  
   </div>


 </div>

{% endblock %}