{% extends 'memslab/Base.html'%}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load humanize %}
{% block title%}
Lab
{%endblock%}
{% block body %}
<div class="container-fluid text-primary mt-5 ">
  <small style="font-size: 15px;" > Last Updated {{employee.user.last_login|naturaltime }}</small>
</div>
{% if user.is_authenticated and employee.user.id == user.id%}
<div class="sticky-top text-right container-fluid"><a class="btn btn-sm z-depth-0  btn-warning text-primary " href="{%url 'admin:index' %}" >admin <i class="fas fa-external-link-alt"></i></a></div>
<a href="{% url 'memslab:detail_form' employee.id %}" class="text-left ml-5"><div  class="btn btn-md btn-outline-primary waves-effect "  >
  Edit  <i class="fas fa-edit"></i>
</div></a>{%endif%}

<div class="container emp-profile col-11 z-depth-0 mx-auto rounded z-depth-0 border heavy-rain-gradient " >

            <div class="row ">
                <div class="col-md">
                    <div class=" row col-10">
                      <div class="container ">  {% thumbnail employee.emp_pic "250x250" crop="top" as im %}
                        <img src="{{ im.url }}" width="100%" height="100%" class="rounded-circle border hidden-xs-up  ">
                     {% endthumbnail %}</div>
                      
                       
                   

                      <div class="col-12"> {% if user.is_authenticated and employee.user.id == user.id%}
                           
                     
                        <button type="button" class="file btn btn-sm btn-default col-12-sm " data-toggle="modal" data-target="#changePic">
                          Change Pic <i class="fas fa-edit"></i>
                        </button>
                           <div class="modal fade text-muted " id="changePic" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
                           <div class="modal-dialog modal-full-height modal-top" role="document">
                             <div class="modal-content">
                               <div class="modal-header">
                                 <h5 class="modal-title " id="label">Change profile Pic</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                 </button>
                               </div>
                               <form action="{% url 'memslab:profile' %}" method="post" enctype="multipart/form-data">
                                   {% csrf_token %}
                                   <br>
                                    {{change_pic|crispy}}
                               <div class="modal-body">

                               </div>
                               <div class="modal-footer">
                                 <button class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</button>
                                 <button type="submit" class="btn btn-primary">Save changes</button>
                               </div>
                               </form>
                               <hr>
                             </div>
                           </div>
                         </div>
                     
                       {%endif%}
                   
                   </div>
                   </div>
                    <div class="row">    
                      <div class=" col-4 ">
                        <div class="profile-work ml-3">
                            <p class="text-muted mt-5" style="font-size: 17px;">DETAIL </p>
                            
                            <a class="cool-link  ml-3" style="font-size: 15px;" href="{%url 'memslab:show_profile' employee.user.username %}">Home</a><br/>
                            {%for d in empdet%}
                            <a class="cool-link  ml-3 mt-2" style="font-size: 15px;" href="{%url 'memslab:category' employee.user.username d %}">{{d}}</a><br/>
                            {%endfor%}
                        
                          
                        </div>
                      
                </div></div>
                
               
            </div>
      

           <div class="container col-9 " style="word-wrap: break-word;">       
           <div class="display-4 mb-3  p-3 text-muted">{{main_topic}}</div> 
         
             {%for topic in topics%}
            <div class="bg-white ml-auto container mb-5 rounded">
           
               {% autoescape on %}
               <div class="col-12 p-2">
                  
              {% for point in topic.get_entry %}
                  <p>
                    {{point|safe}}
                  </p>
                  {%endfor%}
                
            

                </div>
               {% endautoescape %}
       
           </div>
            {%endfor%}</div>
     
            </div>
         
        
            {% if user.is_authenticated and employee.user.id == user.id%}
            <a href="{% url 'memslab:logout'%}" class="px-0"><button type="button" class="btn btn-danger" >Logout</button></a>
             {%endif%}
     

    </div>


 
{% endblock %}