{% extends 'memslab/Base.html'%}
{% load thumbnail %}

{% block title%}
Employee Details
{%endblock%}
{% block body %}

 
    <div class="container text-dark shadow p-4 mt-5 col-lg-11 col-12 border rounded indigo lighten-4 ">
      <h2 style="font-weight: 400;">Faculty Coordinator</h2>
    </div>
    <div class="container-fluid border border-top-0 grey lighten-4 col-lg-11 col-12 rounded  ">
      <div class="card-deck mb-4 animated fadeIn ">
        {%for employee in employees%}
        {%if employee.coordinator %}

        <div class="card border p-0  faculty_card heavy-rain-gradient  waves-effect   " style="max-width: 15rem;">
      
            <a href="{%url 'memslab:show_profile' employee.user.username %}" data-toggle="tooltip" title="extra info">
               
                {% thumbnail employee.emp_pic "150x150" crop="top" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class=" card-img-top" style="width:100%; height:auto;">
                {% endthumbnail %}
         
         
                <div class="card-body  ">
                <p class="col m-0 card-title">
                  <div class="card-title text-left text-capitalize"
                    style="font-size:27px; display: inline-block; word-break: break-word;">{{employee.user.first_name}}
                    {{employee.user.last_name}}</div>
                </p>
    
                <p class="card-text text-center" style="font-size:18px; display: inline-block; word-break: break-word;">
                  {{employee.designation}}</p>
              </div>
            </a>
       
      </div>
     

        {%endif%}
        {%endfor%}
      </div>
    </div>


    <div class="container  text-dark  shadow p-4 col-lg-11 col-12 mt-5 border rounded  indigo lighten-4 ">
      <h2 style="font-weight: 400;">Faculty</h2>
    </div>
    <div class="container-fluid border border-top-0 col-lg-11 col-12  mx-auto grey lighten-4   ">
      <div class="card-deck mb-4  animated fadeIn">
        {%for employee in employees%}
        {%if not employee.researcher and not employee.coordinator %}

        <div class="card  border p-0  faculty_card heavy-rain-gradient  waves-effect   " style="max-width: 15rem;">
      
        <a href="{%url 'memslab:show_profile' employee.user.username %}" data-toggle="tooltip" title="extra info">
           
            {% thumbnail employee.emp_pic "150x150" crop="top" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class=" card-img-top" style="width:100%; height:auto;">
            {% endthumbnail %}
     
     
            <div class="card-body  ">
            <p class="col m-0 card-title">
              <div class="card-title text-left text-capitalize"
                style="font-size:27px; display: inline-block; word-break: break-word;">{{employee.user.first_name}}
                {{employee.user.last_name}}</div>
            </p>

            <p class="card-text text-center" style="font-size:18px; display: inline-block; word-break: break-word;">
              {{employee.designation}}</p>
          </div>
        </a>
   
  </div>
 

        {%endif%}
        {%endfor%}
      </div>
    </div>
    <div class="container text-dark shadow p-4 mt-5 col-lg-11 col-12 border rounded indigo lighten-4">
      <h2 style="font-weight: 400;">Students</h2>
    </div>
    <div class="container-fluid border border-top-0 col-lg-11 col-12  mx-auto grey lighten-4  ">
      <div class="card-deck mb-4 animated fadeIn ">
        {%for employee in employees%}
        {%if  employee.researcher%}

        <div class="card border p-0  faculty_card heavy-rain-gradient  waves-effect   " style="max-width: 15rem;">
      
            <a href="{%url 'memslab:show_profile' employee.user.username %}" data-toggle="tooltip" title="extra info">
               
                {% thumbnail employee.emp_pic "150x150" crop="top" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class=" card-img-top" style="width:100%; height:auto;">
                {% endthumbnail %}
         
         
                <div class="card-body  ">
                <p class="col m-0 card-title">
                  <div class="card-title text-left text-capitalize"
                    style="font-size:27px; display: inline-block; word-break: break-word;">{{employee.user.first_name}}
                    {{employee.user.last_name}}</div>
                </p>
    
                <p class="card-text text-center" style="font-size:18px; display: inline-block; word-break: break-word;">
                  {{employee.designation}}</p>
              </div>
            </a>
       
      </div>
     

        {%endif%}
        {%endfor%}
      </div>
    </div>
 
 
{% endblock %}