{% extends 'memslab/Base.html'%}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load humanize %}
{% block title%}
Lab
{%endblock%}
{% block body %}




{%if register_user%}
<div class="container col-10 rounded_m bg-white text-center mt-5">
    <a href="{%url 'memslab:register_faculty'%}"><button class="btn btn-primary btn-lg m-5 rounded_mn"><i
                class="fas fa-plus"></i> Add Faculty</button></a><br>
    <a href="{%url 'memslab:register_student'%}"><button class="btn btn-primary btn-lg m-5 rounded_mn"><i
                class="fas fa-plus"></i> Add Student</button></a>

</div>

{%endif%}



{%if main_form %}
 <div class="container col-9 mb-5 border p-4 bg-white  shadow mt-3 rounded_m"> 
<a href="{% url 'memslab:detail_form' employee.id %}"><button class="btn  btn-md rounded_mn  btn-primary waves-effect ">Edit Info <i class="fas fa-edit"></i>
  </button></a>
  {% if user.is_authenticated and employee.user.id == user.id%}
 
 <a class="btn btn-md rounded_mn btn-warning text-primary"
        href="{%url 'admin:index' %}">Admin Page <i class="fas fa-external-link-alt"></i></a> 
 
{%endif%}
</div>
{% endif %}



 
 

    {%if news%}
    <div class="container col-9 mb-5 border p-4 bg-white  shadow mt-3 rounded_m"> 
     <a href="{%url 'memslab:news_add'%}"><button class="btn rounded_mn btn-md btn-primary"><i class="fas fa-plus"></i> Add News</button></a>
    </div>

    {%endif%}
    {%if projects%}
    <div class="container col-9 mb-5 border p-4 bg-white  shadow mt-3 rounded_m"> 

    <a href="{%url 'memslab:add_projects'%}"><button class="btn rounded_mn btn-md btn-primary"><i class="fas fa-plus"></i> Add projects</button></a>
    </div>

    {%endif%}

    {%if manage_project_images%}
    <div class="container col-9 mb-5 border p-4 bg-white  shadow mt-3 rounded_m"> 

    <a   href="{%url 'memslab:manage_project_images' project.id%}"><button class="btn  btn-primary rounded_mn  btn-md"><i
                class="fas fa-plus"></i> Manage Project Images</button></a>
    </div>
 
    {%endif%}
    {%if form%}
    {%if not projects%}
       

    {%endif%}

   <div class="col-12 mb-5  ">
            <h1>Edit Page</h1>
            <hr>
        </div>

    <div class="container-fluid">
         <form method="post"   enctype=multipart/form-data>
            {% csrf_token %} 
           
  
            {%if form_main%}
            {{form_main|crispy}}
            {%endif%}
            {{form.media}}
            {{form|crispy }}


    
    <hr> {%if form1%}
   
        <h1>Add Topics </h1>
        <hr>

        
            {{form1|crispy}}
            {%endif%} 
    
    <div class="text-right m-5">
        <button type="submit" class="save btn btn-success btn-lg  ">Save</button>
    </div>

    </form>

    {%endif%}

</div>

<canvas style="min-height: 500px;"></canvas>
{% endblock %}