{% extends 'memslab/Base.html'%}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load humanize %}
{% block title%}
Lab
{%endblock%}
{% block body %}




{%if register_user%}
<div class="container col-10 bg-light text-center mt-5">
    <a href="{%url 'memslab:register_faculty'%}"><button class="btn btn-primary btn-lg m-5 rounded_mn"><i
                class="fas fa-plus"></i> Add Faculty</button></a><br>
    <a href="{%url 'memslab:register_student'%}"><button class="btn btn-primary btn-lg m-5 rounded_mn"><i
                class="fas fa-plus"></i> Add Student</button></a>

</div>

{%endif%}

{% if user.is_authenticated and employee.user.id == user.id%}
<div class="sticky-top text-right container-fluid"><a class="btn btn-sm btn-warning text-primary"
        href="{%url 'admin:index' %}">Go to admin page <i class="fas fa-external-link-alt"></i></a></div>
{%endif%}


 

    {%if news%}
    <a href="{%url 'memslab:news_add'%}"><button class="btn btn-primary"><i class="fas fa-plus"></i> Add
            News</button></a>
    {%endif%}
    {%if projects%}
    <div class="col-12 mb-5  ">
        <h1>Manage Projects</h1>
        <hr>
    </div>
    <a href="{%url 'memslab:add_projects'%}"><button class="btn btn-primary"><i class="fas fa-plus"></i> Add
            projects</button></a>
    {%else%}


    {%endif%}

    {%if manage_project_images%}
    <a href="{%url 'memslab:manage_project_images' project.id%}"><button class="btn btn-primary"><i
                class="fas fa-plus"></i> Manage_project_images</button></a>
    {%endif%}
    {%if form%}
    {%if not projects%}
    <div class="col-12 mb-5  ">
        <h1>Edit Page</h1>
        <hr>
    </div>
    {%endif%}
    <div class="container-fluid">
         <form method="post"   enctype=multipart/form-data>
            {% csrf_token %} 
           
  
            {%if form_main%}
            {{form_main|crispy}}
            {%endif%}
            {{form.media}}
            {{form|crispy }}


    
    <hr> {%if form1%}
   
        <h1>Add Topics </h1>
        <hr>

        
            {{form1|crispy}}
            {%endif%} 
    
    <div class="text-right m-5">
        <button type="submit" class="save btn btn-success btn-lg  ">Save</button>
    </div>

    </form>

    {%endif%}

</div>

<canvas style="min-height: 500px;"></canvas>
{% endblock %}