<!-- Loads th path to your static files -->
{% extends 'memslab/Base.html'%}


{% block title%}
Lab
{%endblock%}
{% block body %}  <h1 class="text-right p-5  blue-grey-text"> Welcome to our Site</h1>
 <div class="container-fluid animated fadeIn"  style="  min-height:400px; color: white;


 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/media/Background/home.jfif);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;">
     <div class="text-center display-4"><br>Micro-Electro Mechanical Systems Laboratory</div><br><br><div class="text-center pb-3"><h1>BITS Pilani Hyderbad Campus</h1></div>



 </div>
 <div class=" pt-5 text-left">
     <a href="{%url 'memslab:index'%}"><button class="btn z-depth-0 btn-indigo ">Explore Projects</button></a>
 </div>
{% endblock %}