<!-- Loads th path to your static files -->
{% extends 'memslab/Base.html'%}


{% block title%}
MemsLab
{%endblock%}
{% block body %}
      <h1 class="text-right pt-5 pb-3 px-2 m-0 blue-grey-text animated fadeIn">Welcome to our Site</h1>
<div class="container-fluid animated fadeIn"  style="  min-height:400px; color: white;


 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/media/Background/home.jfif);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;">

     <div class="text-center" style="font-size:270%;"><br>
<br><b>Micro-Electro Mechanical Systems Laboratory</div><br><br><div class="text-center pb-3"><h2 class="text-white">BITS Pilani Hyderabad Campus</h2></b><br>
<br></div>



 </div>
 
 <div class="  pl-1 text-center mt-0 my-5 animated fadeInUp">
     <a href="{%url 'memslab:index'%}"><button class="btn btn-outline-indigo z-depth-0 waves-effect btn-lg"><span class="pt-1"><b> Go to projects <i class="fas fa-angle-right fa-lg"></i></b></span></button></a>
 </div>
 
{% endblock %}