<!-- Loads th path to your static files -->
{% extends 'memslab/Base.html'%}

{%load thumbnail%}
{% block title%}
Lab
{%endblock%}
{% block body %}

<br>
<br>
<br>                
<div id="owl-demo"  class=" owl-carousel owl-theme mx-auto col-10-lg col-12 align-items-center">

  {%for project in projects%}
  {% thumbnail project.project_pic '600x600' as im %}
  <div class="item pr-5 hidden  " >
    <a href="{%url 'memslab:show_projects' project.id %}" data-toggle="tooltip" title="{{project.specializaiton}}">
      <img src="{{im.url|resolution:'1.5x'}}" alt="{{project.id}}"  class="rounded ml-lg-5 "/>
      <figcaption class=" top-left "><h2 class="bottom-left" style="word-wrap: break-word;">{{project.name}}</h2></figcaption>
    </a>
  </div>
  {% endthumbnail %}
  {% endfor %}

</div>
<div class="owl-">
    <div class="owl-controls ">
        <div class="custom-nav owl-nav unselectable" ></div>
    </div>
    <br>
</div>

<div class="outer-index">
 
    
  

 

   

<div class="container col-10 col-6-md col-10-sm col-12-xs  mt-5  project_list_title" ><h2>->Projects List</h2></div>
<div class=" col-12 " >
    <div class="ml-5 mt-5 col-10"> <h5 class="text-muted col-2 ">Ongoing <i class="far fa-caret-square-right ongoing" ></i></h5><hr> </div>
    
  <div class="row unselectable  rounded container-fluid mx-2">
    {%for project in projects%}
    {% if project.status == 0 %}
   
    <a href="{%url 'memslab:show_projects' project.id %} " style="text-decoration: none;">
     
      <div class=" mask  view overlay zoom view overlay zoom   p-1 animated bounceInRight col-md"  >
      <div class="card border waves-effect waves-light  project_cards overflow-hidden z-depth-0 bg-white" >
          <div style=" display: inline-block; overflow: hidden; "> 
              {% thumbnail project.project_pic "300x200" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="object-fit: cover;" class=" mx-auto  card-img-top border-bottom" alt="Generic placeholder image" >
          {% endthumbnail %}
          </div> <br>
    <span class=" overflow-auto  text-center"><h4>{{project.name}}</h4></span> 
      <p class="blockquote bq-primary" >{{project.short_description}}</p>
     <blockquote>
      <footer class="footer " >
        <div class="text-muted project_faculty_name ">
         <cite title="Source Title"> Project specializaiton  <strong>{{project.specializaiton}}</strong></cite>
        </div>
      </div>
      </footer>
    </blockquote>
    </div> 

  </a><!-- /.col-lg-4 -->
  {%endif%}
    {%endfor%}
  </div>
  <div class="ml-5 mt-5 col-10"> <h5 class="text-muted col-2 ">Completed <i class="fas fa-check Completed" ></i></h5><hr> </div>
 
  <div class="row unselectable  container-fluid mx-2">
    
        {%for project in projects%}
    {% if project.status == 1 %}
   
    <a href="{%url 'memslab:show_projects' project.id %} " style="text-decoration: none;">
      <div class=" mask  view overlay zoom view overlay zoom animated bounceInLeft"   >
      <div class=" card border waves-effect waves-light  project_cards overflow-hidden z-depth-0  bg-white ">
      
       
          <div style=" display: inline-block; overflow: hidden; "> 
          {% thumbnail project.project_pic "300x200" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  class=" mx-auto border-bottom  card-img-top" alt="{{project.name}} pic" >
          {% endthumbnail %}
            

          </div>


      <br>
      
    <span class=" overflow-auto  text-center"><h4 >{{project.name}}</h4></span> 
      <p class="blockquote bq-success ">{{project.short_description}}</p>
     <blockquote>
      <footer class="footer" >
        <div class="text-muted project_faculty_name " >
         <cite title="Source Title"> Project specializaiton  <strong>{{project.specializaiton}}</strong></cite>
        </div>
      </div>
      </footer>
    </blockquote>
    </div> 
  </a><!-- /.col-lg-4 -->
  {%endif%}
    {%endfor%}
  </div>



</div>
<br>
</div>
<br>




{% endblock %}