<!-- Loads th path to your static files -->
{% extends 'memslab/Base.html'%}
{% load crispy_forms_tags %}

{% block title%}
Lab
{%endblock%}
{% block body %}

<!--Modal: Contact form-->
{%if not user.is_authenticated%}
<div class="modal-dialog cascading-modal  " role="form">

    <!--Content-->
    <div class="modal-content p-3">

        <!--Header-->
        <div class="modal-header indigo white-text ">
            <h4 class="title">
                <i class="fa fa-pencil-alt"></i> Login Form</h4>


        <!--Body-->
        </div>
            <form method="POST">
         <h4 >
        {% csrf_token %}
        {{ form|crispy }}
        </h4>





        <div class="text-center ">
            <br>
            <button type="submit" class="btn btn-indigo btn-lg animated bounce">LOGIN <i
                    class="fa fa-sign-in-alt fa-lg" aria-hidden="true"></i></button>

        </div></form>
 <span class="ml-auto  p-3  font-weight-bold  "><a href="{%url 'password_reset'%}">Forgot Password?</a></span>
    </div>

</div>
{%else%}
<div class=" col-8  mx-auto  " style="font-size: 20px;">
    <div class="jumbotron">
        <p>You are already logged in as <bold class="font-weight-bold">{{user.username}}</bold>
        </p><br>
        <p><a href="{%url 'memslab:index'%}"> Go back to Home Page </a></p>
    </div>

    <canvas height="100"></canvas>
</div>
<!--/.Content-->
{%endif%}
<!--/Modal: Contact form-->


{% endblock %}