<!-- Loads th path to your static files -->
{% extends 'memslab/Base.html'%}
{% load crispy_forms_tags %}

{% block title%}
Lab
{%endblock%}
{% block body %}

<!--Modal: Contact form-->
{%if not user.is_authenticated%}


<div class="modal-dialog cascading-modal " role="form">

    <!--Content-->
    <div class="modal-content p-3 shadow rounded_m">

        <!--Header-->
        <div class="modal-header rounded_m indigo text-white z-depth-1-half">
            <h3 class="title"><b>Login Form</b></h3>
</div>
        <!--Body-->

            <form method="POST" class="form-group ">       {% csrf_token %}
         <h4>
             <b>{{form|crispy}}</b>


        </h4>





        <div class=" text-right">
            <br>
            <button type="submit" class="btn btn-outline-indigo waves-effect px-5 py-2 "><span> <b>LOGIN</b> </span></button>

        </div></form>
 <span class="mr-auto  p-3  font-weight-bold  "><a href="{%url 'password_reset'%}">Forgot Password?</a></span>
    </div>

</div>
{%else%}
<div class=" col-8  mx-auto  " style="font-size: 20px;">
    <div class="jumbotron">
        <p>You are already logged in as <bold class="font-weight-bold">{{user.username}}</bold>
        </p><br>
        <p><a href="{%url 'memslab:index'%}"> Go back to Home Page </a></p>
    </div>

    <canvas height="100"></canvas>
</div>
<!--/.Content-->
{%endif%}
<!--/Modal: Contact form-->


{% endblock %}