{% extends 'memslab/Base.html'%}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load humanize %}
{% block title%}
Lab
{%endblock%}
{% block body %}

{% if user.is_authenticated and employee.id == obj.user.id  %}

<div class="container mb-5 border p-4 rounded_m bg-white  shadow  ">
  <h3>Functions</h3>

  <a href="{% url 'memslab:news_detail_edit' obj.id %}"><button
      class="btn  btn-md rounded_mn  btn-primary waves-effect ">Edit<i class="fas fa-edit"></i></button></a>



  {%if request.user.is_superuser%}

  <a href="{%url 'admin:index' %}"><button class="btn btn-md  rounded_mn btn-warning text-dark ">admin <i
        class="fas fa-external-link-alt"></i></button></a>


  {%endif%}
  {%endif%}
</div>


<div class="container col-12 col-lg-10 mx-auto  p-0">  <div class="footer mt-2  p-1  text-right  rounded font-weight-bold "> <a
            href="{%url 'memslab:show_profile' obj.user.user.username %}" class=" p-1 mb-1"> Published By {{obj.user}}
          </a> <br>

          {{obj.created_at|naturaltime}}</div>
      
          {% thumbnail obj.pic "300x300" crop="center" as im %}
          <a class="thumbnail ml-md-4 ml-2" href="{{obj.pic.url}}" target="_blank"><img src="{{im.url}}" data-title="{{image.title}}" data-description="{{image.description}}"
              class="rounded   z-depth-1" /></a>
          {% endthumbnail %} 
  <div class=" mx-auto p-4 display-4 text-muted     rounded">{{obj.topic}}       </div>
  <div class="container-fluid">


<hr>
<div class="jumbotron">
  {{obj.entry|safe}}
</div>
 
      


  </div>
</div>

{% endblock %}