{% extends 'memslab/Base.html'%}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load humanize %}
{% block title%}
Lab
{%endblock%}
{% block body %}
 
{% if user.is_authenticated and employee.user.id == user.id%}
<div class="container-fluid   ">
    <div class="container-fluid  text-right"><a href="{% url 'memslab:register'%}" ><button  class="btn  btn-md  btn-outline-primary waves-effect "  >Add User <i class="fas fa-edit"></i>
    </button></a></div>
  <div class="container-fluid text-left p-1 mt-5"><a href="{% url 'memslab:form' employee.id %}" ><button  class="btn  btn-md  btn-outline-primary waves-effect "  >Edit Profile<i class="fas fa-edit"></i>
</button></a></div>
</div>
{%endif%}
{%if request.user.is_superuser%}
<div class="container-fluid p-1 text-right"><a  href="{%url 'admin:index' %}" ><button class="btn btn-sm   btn-warning text-primary ">admin <i class="fas fa-external-link-alt"></i></button></a></div>
{%endif%}
<div class="container col-12 col-lg-10"> 
  <div class="container-fluid   mx-auto p-4 special-color-dark display-4 text-default   rounded">{{obj.topic}}</div>
<div class="container-fluid">

    

           
           <div class=" mx-auto card   border     shadow-sm special-color">
            <div class="card-title  "> 
      
      <div class="card-body  table-responsive  rounded_mn  "  >   <h3 class="text-light" >Summary</h3>
        <div class="jumbotron grey lighten-5 p-5 mt-2   rounded_m ">
          
          {{obj.summary}}
        </div> 
        <br>
        <h3  class="text-light" >Description</h3>
        <div class="jumbotron p-5 lighten-5   mt-2 rounded_m table-responsive">
          {{obj.entry|safe}}
        </div>
        


      </div>
                
      <div class="footer mt-2  p-1 text-white  text-right  rounded ">  <a href="{%url 'memslab:show_profile' obj.user.user.username %}" class=" p-1 mb-1"> Published By {{obj.user}} </a> <br> 
    
        {{obj.created_at|naturaltime}}</div>

      </div> 
    </div>

 


</div>
</div>

{% endblock %}