{% extends 'memslab/Base.html'%}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load humanize %}
{% block title%}
Lab
{%endblock%}
{% block body %}
<div class="container-fluid pt-5 p-3">





            <div class="container border border-dark   rounded_m  alert alert-primary  mb-5 p-2" method="alert">
                 <h1 class="alert-heading">Reset Password</h1>
              <div class="blockquote bq-warning">
<small >Enter the email address you used when creating the account and click Send Password Reset Email. A message will be sent to that address containing a link to reset your password. For security reasons the link can only be used for one hour. If you do not receive your email within five minutes check your spam folder.</small>
              </div>
              <form method="post" style="font-size: 120%;" enctype='multipart/form-data' >{% csrf_token %}
              <b>  {{form|crispy }}</b>
       </form>

            </div>
            <div class="text-right ">
                <button type="submit" class="save btn btn-success btn-lg  ">Save</button>
            </div>

</div>

{% endblock %}