{% extends 'memslab/Base.html'%}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load humanize %}
{% block title%}
Lab
{%endblock%}
{% block body %}
<div class="container-fluid" style="min-width: 900px;">


    <div class="container col-12 pt-5 ">

        <form method="post" style="font-size: 130%;" enctype='multipart/form-data'>{% csrf_token %}
            <div class="container special-color-dark text-light rounded p-5 mb-5 ">
                <h1> Reset Password </h1> <small>*enter registered email</small>
                <hr>


                {{form|crispy }}




            </div>
            <div class="text-right m-5">
                <button type="submit" class="save btn btn-success btn-lg  ">Save</button>
            </div>

        </form>



    </div>

</div><canvas style="min-height: 500px;"></canvas>
{% endblock %}