{% extends 'memslab/Base.html'%}

{% block title%}
Redirecting
{%endblock%}
{% block body %}
<div class="alert alert-info col-10 mx-auto ">
    <h2>Password reset sent</h2>
    We've emailed you instructions for setting your password, if an account exists with the email you entered. You
    should receive them shortly.

    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam
    folder.
</div>
<canvas style="min-height: 500px;">

</canvas>
{%endblock%}