{% extends 'memslab/Base.html'%}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load humanize %}
{% block title%}
Lab
{%endblock%}
{% block body %}
<div class="container-fluid text-muted  mt-5 mb-5 ">
  <small> Last Updated {{employee.user.last_login|naturaltime }}</small>
</div>

{% if user.is_authenticated and employee.user.id == user.id   %}
<div class="container mb-5 border p-4 rounded_m  bg-white  shadow-sm ">
  <a href="{% url 'memslab:form' employee.id %}"><button class="btn  btn-md  btn-primary rounded_mn waves-effect">Edit
      Profile <i class="fas fa-edit"></i>
    </button></a>
    {%if not employee.researcher%}
    <a href="{%url 'memslab:register' %}"> <button class="btn  btn-md  btn-primary rounded_mn waves-effect ">Add User <i
      class="fas fa-plus"></i>
    </button></a>
    {%endif%}
  {%if request.user.is_superuser%}
  <a href="{%url 'admin:index' %}"><button class="btn btn-md rounded_mn   btn-warning text-dark ">Admin <i
        class="fas fa-external-link-alt"></i></button></a>
  {%endif%}
</div>
{%endif%}

<div class="container col-12 col-xl-11  shadow-lg mx-auto   {%if employee.coordinator%}profile-container0{%elif employee.researcher%}profile-container1{%else%}profile-container2{%endif%}  border  ">

  <div class="row animated fadeIn ">
    
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 p-5  mx-auto ">
        <div class="sticky-top container pt-3">
      <div class="row ">
        {% thumbnail employee.emp_pic "250x350" crop="top" as im %}
          <img src="{{ im.url }}" class=" col-xl-9  col-lg-9 col-md-10 col-xs-10 col-sm-6 mx-auto ">
          {% endthumbnail %}

{%if request.user == employee.user%}
       
          <a type="button " class=" btn btn-sm btn-indigo col-xl-8  col-lg-8 col-md-10 col-xs-10 col-sm-6 mx-auto  "
            data-toggle="modal" data-target="#changePic"style="font-size:80%;">
            Change Pic <i class="fas fa-edit"></i>
      </a> 
        {%endif%}
 
        <div class=" col-12 border mt-4 pb-5 pl-5 pr-5    grey lighten-5">
          <p class="text-muted mt-5 font-weight-bold" style="font-size: 18px;">DETAIL </p>
          <div class=" font-weight-bold "> <a class="cool-link   ml-3" style="font-size: 16px; "
              href="{%url 'memslab:show_profile' employee.user.username %}">Home</a><br />
            {%for d in empdet%}
            <a class="cool-link  ml-3 mt-2" style="font-size: 16px;"
              href="{%url 'memslab:category' employee.user.username d.id %}">{{d.topic}}</a><br />
            {%endfor%}</div>
          </div>
 


      </div>
    </div> </div>
    <div class="container col-xl-9 col-lg-8 col-md-8 col-sm-12 border-left p-3  ">
      <div class="row">
        <div class="container col-11   border mt-5 p-5 bg-white">
          <p>
            <h1 style="word-wrap: break-word; font-weight: 400;">{{employee.user.first_name}}
              {{employee.user.last_name}}</h1>
            <h2 class='font-weight-light' style="font-size: 25px; word-wrap: break-word;">{{employee.designation}} <br>
            </h2>
        </div>

        <div class="container col-11 mt-5" style="font-size:14px;">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active col-xl-2 col-lg-3 col-md-5 col-lg-6 text-center border-bottom "
                id="nav-about-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                aria-selected="true">
                <h5 class="font-weight-bold">About</h5>
              </a>
              <a class="nav-item nav-link col-xl-2 col-lg-3 col-md-5 col-lg-6 text-center border-bottom  "
                id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                aria-selected="false">
                <h5 class="font-weight-bold">Timeline</h5>
              </a>
            </div>
          </nav>
          <div class="tab-content border border-top-0 rounded_m_bottom bg-white animated  fadeIn" id="nav-tabContent">
            <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-about-tab">
              <table class="table  table-responsive  ">
                <tbody>
                  {% if user.is_authenticated and employee.user.id == user.id%}
                  <tr>
                    <th scope=" row " class="font-weight-bold text-muted" style="font-size:18px;">User Id</th>
                    <td class="font-weight-bold text-primary" style="font-size:18px;">{{employee.id_no}}</td>
                  </tr>
                  {%endif%}
                  <tr>
                    <th scope="row" class="font-weight-bold text-muted" style="font-size:18px;">Name</th>
                    <td class="font-weight-bold text-primary" style="font-size:18px;">{{employee.user.first_name}}
                      {{employee.user.last_name}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="font-weight-bold text-muted" style="font-size:18px;">Email</th>
                    <td class="font-weight-bold text-primary" style="font-size:18px;">{{employee.user.email}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="font-weight-bold text-muted" style="font-size:18px;">Phone</th>
                    <td class="font-weight-bold text-primary" style="font-size:18px;">{{employee.phone}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="font-weight-bold text-muted" style="font-size:18px;">Designation</th>
                    <td class="font-weight-bold text-primary" style="font-size:18px;">{{employee.designation}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <table class="table table-transparent rounded table-responsive-lg">
                <tbody class="second-table   ">

                  <tr>
                    <th scope="row" class="font-weight-bold text-muted" style="font-size:18px;">Experience</th>
                    <td class="font-weight-bold text-primary" style="font-size:18px;">{{employee.experience_in_years}}
                      years</td>
                  </tr>

                  <tr>
                    <th scope="row" class="font-weight-bold text-muted" style="font-size:18px;">Education</th>
                    <td class="font-weight-bold text-primary" style="font-size:18px;">{{employee.education_short}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="font-weight-bold text-muted" style="font-size:17px;">Chamber Consultation
                      Hours</th>
                    <td class="font-weight-bold text-primary" style="font-size:18px;">
                      {{employee.Chamber_Consultation_Hours}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="font-weight-bold text-muted" style="font-size:18px;">Designation</th>
                    <td class="font-weight-bold text-primary" style="font-size:18px;">{{employee.designation}}</td>
                  </tr>
                  <tr>

                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          {%if employee.short_description%}
          <div class="container-fluid mb-5 bg-white   ">
            <div class="row mt-5 border p-lg-5 p-2  ">
              <div class=" text-muted col-12">
                <h2>Description- </h2>
              </div>
              <div class="col-12 table-responsive" style="word-wrap: break-word;">{{employee.short_description|safe}}</div>
            </div>
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container-fluid p-5  text-right">{% if user.is_authenticated and employee.user.id == user.id%}
  <div class="col-12"><a href="{% url 'logout'%}" class="px-0"><button type="button"
        class="btn btn-danger btn-lg ">Logout</button></a></div>

  {%endif%}</div>
  <div class="modal fade" id="changePic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content " style="font-size:120%;">
        <div class="modal-header">
           
          <h5 class="modal-title" id="exampleModalLabel">Change profile Pic</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'memslab:profile' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <br>
          {{change_pic|crispy}}
          <div class="modal-body col-xl-12">
            High quality images are always favourable
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-primary waves-effect btn-md" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-md">Save changes</button>
          </div>
        </form>
        <hr>
      </div>
    </div>
  </div> 
{% endblock %}