{% extends 'memslab/Base.html'%}
{%load thumbnail%}
{% load staticfiles %}
{% block title%}
{{project.name}}
{%endblock%}



{% block body %}
{% if user.is_authenticated%}
{%if not employee.researcher%}
<div class="container col-10 mb-5 border p-4 rounded_m bg-white  shadow-lg ">
  <div class="text-left mt-3 container col-12  "><a href="{%url 'memslab:manage_projects' project.id%} "><button
        class="btn btn-primary rounded_mn"><i class="fas fa-tasks"></i> Edit Project</button></a></div>
</div>
{%endif%}
{%endif%}

<div class=" mx-auto rounded_m col-xl-8 col-lg-8 col-md-10 col-xs-12 pt-5 mt-5 pb-5   grey  lighten-4 border">
  <a type="toggle" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true"   >  
  <div class=" rounded_m_top  p-2  " >
    <h1>Gallery <i class="fas fa-caret-down"></i></h1>
  </div>
</a>

      
    <div class="collapse show" id="collapseExample" >   

      <div id="gallerly">

      <div class="image-viewer mx-auto ">

        {% thumbnail project.project_pic "300x300" crop="center" as im %}
        <a class="thumbnail"><img src="{{im.url}}" data-title="{{project.name}}"
            data-description="{{project.short_description}}" class="rounded   z-depth-1" /></a>
        {% endthumbnail %}
        {%for image in images%}
        {% thumbnail image.pic "300x300" crop="center" as im %}
        <a class="thumbnail"><img src="{{im.url}}" data-title="{{image.title}}" data-description="{{image.description}}"
            class="rounded   z-depth-1" /></a>
        {% endthumbnail %}
        {%endfor%}

        <div class="preview hide rounded col-12 ">

          <div class="wrapper ">

            <span class="arrow"></span>

            <a class="prev unselectable"><i class="fas fa-chevron-left"></i> Prev</a>

            <div class="preview-content ">

              <img src="" />

              <div class="content">

                <h3 class="title"></h3>

                <span class="description "></span>

              </div>

            </div>

            <a class="next unselectable">Next <i class="fas fa-chevron-right"></i></a>

            <a class="close-preview">Close</a>

          </div>

        </div>

      </div>
    </div></div>
 
 

 
</div>
<div class="jumbotron mt-5  bg-transparent project_jumbotron " style="  min-height:500px; color: white; 

background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{background}}); 

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;word-wrap: break-word;">

  <h1>{{project.name}}</h1>

  <p class="lead ">{{project.specializaiton}}</p>
  <hr class="my-4 ">
  <p class="p-2">{{project.short_description}}</p>
  <br><br>
  <h3 style="color: rgba(255, 255, 255, 0.664);">Funding Agency : {{project.sponsoring_agency}}</h3>
  <h4 style="color: rgba(255, 255, 255, 0.664);"><i class="fas fa-wallet"></i> Total Funds : <i
      class="fas fa-rupee-sign"></i> {{project.budget}}</h4>
  <br>

</div>
<div class="container-fluid mt-5 col-10 text-left mx-auto">
  <h1 style="font-weight: 400; color: rgb(59, 59, 51);">Description</h1>
</div>
<div class="container shadow-sm  col-xl-10 col-11 mt-5   rounded_m p-5 bg-white table-responsive">
  {{project.description|safe}}
</div>
<div class="container mt-5 ">
  <h2 class="text-muted"> ->People working on this project</h2>

 

  <div class="text-default  mt-4">
    <h2>Faculty</h2>
  </div>
  <div class="row     border  grey lighten-4 rounded_m  ">
    {%for employee in project.people.all%}
    {%if not employee.researcher%}
 
      {%if employee%}

      <div
        class="card  shadow-sm     faculty_card rounded   color-block  mask waves-effect " style="background-color: #ffffff;
        background-image: linear-gradient(315deg, #81bde07a 0%, #a1c0f5 74%); width: 18rem;">
        <div class="container p-0">
          <a href="{%url 'memslab:show_profile' employee.user.username %}" data-toggle="tooltip" title="extra info">

            <div class="text-center">

              {% thumbnail employee.emp_pic "130x130" crop="top" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="rounded-circle">
              {% endthumbnail %}

              <hr class="featurette-divider">
            </div>




            <div class="card-body  ">
              <p class=" card-title">
                <div class="card-title text-left text-capitalize"
                  style="font-size:27px; display: inline-block; word-break: break-word;">{{employee.user.first_name}}
                  {{employee.user.last_name}}</div>
              </p>

              <p class="card-text text-center" style="font-size:18px; display: inline-block; word-break: break-word;">
                {{employee.designation}}</p>
            </div>

          </a>
        </div>
      </div>
 
    {%else%}
    <h4>NONE</h4>
    {%endif%}

    {%endif%}
    {%endfor%}
  </div>

  <div class="text-default mt-4">
    <h2>Students</h2>
  </div>
  <div class="row   border  grey lighten-4 rounded_m p-1">
    {%for employee in project.people.all%}
    {%if employee.researcher%}
      <div class="card shadow-sm    hoverable faculty_card rounded
         color-block  mask waves-effect " style="background-color: #ffffff;
         background-image: linear-gradient(315deg, #b1b1f7 0%, #cdcce7 74%); width: 18rem;">
        <div class="container p-0">
          <a href="{%url 'memslab:show_profile' employee.user.username %}" data-toggle="tooltip" title="extra info">
            <div class="text-center">
              {% thumbnail employee.emp_pic "130x130" crop="top" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="rounded-circle">
              {% endthumbnail %}
              <hr class="featurette-divider">
            </div>
              <div class="card-body  ">
              <p class="col m-0 card-title">
                <div class="card-title text-left text-capitalize"
                  style="font-size:27px; display: inline-block; word-break: break-word;">{{employee.user.first_name}}
                  {{employee.user.last_name}}</div>
              </p>

              <p class="card-text text-center" style="font-size:18px; display: inline-block; word-break: break-word;">
                {{employee.designation}}</p>
            </div>
          </a>
      </div>
    </div>
    {%endif%}
    {%endfor%}
  </div>
</div>
{%if project.proj_file%}
<div class=" container col-8-lg col-6-md col-4-sm mt-5">
  <div class="jumbotron shadow-lg">
    Additional information about Project:
    
    <h4> <a class="btn btn-primary btn-lg col-12-sm" href="{{project.proj_file.url}}" target="_blank"
        role="button">{{project.filename}}</a></h4>
  

  </div>
</div>
  {%endif%}
{%endblock%}

{% block javascript %}
  <!--Project Gallery Javascript-->
  <script src="{% static 'memslab/javascript/gallerly.js' %}"></script>
  <script src="{% static 'memslab/javascript/main.js' %}"></script>
    <!--Mobile Specific Toggle js-->
    <script src="{% static 'memslab/javascript/toggle_panel.js' %}"></script>
{% endblock %}