<!-- Loads th path to your static files -->
{% extends 'memslab/Base.html'%}

{%load staticfiles%}

{%load thumbnail%}
{% block title%}
Lab
{%endblock%}



{% block body %}

{% if user.is_authenticated %}
{%if not employee_logggedin.researcher%}
<div class="container mb-5 border p-4 rounded_m bg-white  shadow-sm ">

  <a href="{% url 'memslab:edit_pubs' %}"><button class="btn  btn-md  btn-primary rounded_mn waves-effect ">Edit<i
        class="fas fa-edit"></i></button></a>



  {%if request.user.is_superuser%}

  <a href="{%url 'admin:index' %}"><button class="btn  btn-md text-dark btn-warning rounded_mn waves-effect ">admin <i
        class="fas fa-external-link-alt"></i></button></a>
  {%endif%}



</div>
{%endif%}
{%endif%}
<br>

        <div class="row col-12  p-0 m-0 px-lg-4 px-2">
<!-- Card -->
<div class="card mx-auto">


<div class=" sticky-top">

    <div class="card-body bhover rounded_m">

    <!-- Title -->
    <h4 class="card-title">Yearwise</h4>
    <!-- Text -->
    <p class="card-text">  <ul class=" pb-3"style="font-size:110%; ">
                      {%for year in years%}
                      <a href="{%url 'memslab:publications_yrws' year%}"><li>{{year}}</li></a>
                      {%endfor%}
                  </ul></p>


  </div>
</div>


</div>



          <div class="container  mx-auto col-12 col-md-9 col-lg-10 p-0 m-0">

          <div class="container rounded_mn">

           <span class=" animated flipInX"> <h3 class="text-primary"  ><i class="far fa-newspaper"></i> <b >{{today}}</b>  </h3></span>

                <ul class="list-group bhover rounded mb-5">
                        {%for obj in latest%}
                                       <li class="list-group-item  table-responsive border-0" >{{obj.entry|safe}}</li>
                                 {%endfor%}   </ul>

          </div></div>
 </div>








      <canvas style="height: 300px; width: 1px;"> </canvas>

{% endblock %}